In [186]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [187]:
df=pd.read_csv('Mechatronics_Data.csv')

df

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
0,40102,Engineering Mechanics 1,0.0,Fundamental Engineering,3,True,NaN,NaN,NaN,NaN,NaN,4.0
1,40105,Production Technology 1,0.0,General Engineering,3,True,NaN,NaN,NaN,NaN,NaN,2.7
2,40106,Engineering Mechanics 2,0.0,Fundamental Engineering,3,True,40102.0,NaN,NaN,NaN,NaN,4.0
3,40501,Engineering Mathematics 1,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.3
4,40502,Engineering Physics 1,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
5,40503,Engineering Chemistry,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
6,40504,Engineering Mathematics 2,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,4.0
7,40505,Engineering Physics 2,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
8,40101,CAD 1,0.0,computer applications,2,True,NaN,NaN,NaN,NaN,NaN,4.0
9,40103,CAD 2,0.0,computer applications,2,True,40101.0,NaN,NaN,NaN,NaN,4.0
10,40104,Engineering History,0.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
11,40144,Technical English,0.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
12,40108,Engineering Mechanics 3,1.0,Fundamental Engineering,3,True,40106.0,40504.0,NaN,NaN,NaN,4.0
13,40109,Thermodynamics,1.0,Fundamental Engineering,3,True,40504.0,40505.0,NaN,NaN,NaN,NaN
14,40111,Stress Analysis,1.0,Fundamental Engineering,3,False,40108.0,NaN,NaN,NaN,NaN,NaN
15,40112,Fluid Mechanics,1.0,Fundamental Engineering,3,True,40502.0,40506.0,NaN,NaN,NaN,NaN
16,40113,Material,1.0,Fundamental Engineering,3,True,40502.0,NaN,NaN,NaN,NaN,4.0
17,40506,Engineering Mathematics 3,1.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,4.0
18,40507,Engineering Mathematics 4,1.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,NaN
19,40203,Electric and electronic circuits,1.0,Fundamental Engineering,3,True,40506.0,NaN,NaN,NaN,NaN,NaN
20,40201,Introduction to computer science and programming,1.0,computer applications,3,True,NaN,NaN,NaN,NaN,NaN,4.0
21,40204,Logic gates and Microprocessor,1.0,General Engineering,3,True,40203.0,40506.0,40505.0,NaN,NaN,4.0
22,40107,Computer-Aided mechanical Drawing,1.0,computer applications,2,True,40103.0,NaN,NaN,NaN,NaN,4.0
23,40508,Engineering Physics 3,1.0,Basic Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
24,40114,Computer-Aided mechanical Design 1,2.0,computer applications,3,False,40103.0,40111.0,40113.0,NaN,NaN,NaN
25,40115,Theory of Viberation,2.0,Fundamental Engineering,3,False,40108.0,40506.0,40508.0,NaN,NaN,NaN
26,40116,Theory of Machines,2.0,Fundamental Engineering,3,True,40108.0,NaN,NaN,NaN,NaN,NaN
27,40117,Production Technology 2,2.0,General Engineering,3,True,40105.0,NaN,NaN,NaN,NaN,NaN
28,40118,Mechatronics Engineering,2.0,General Engineering,3,True,40204.0,NaN,NaN,NaN,NaN,NaN
29,40119,Computer-Aided mechanical Design 2,2.0,computer applications,3,False,40114.0,NaN,NaN,NaN,NaN,NaN
30,40205,Automatic Control Systems,2.0,Fundamental Engineering,3,True,40204.0,NaN,NaN,NaN,NaN,NaN
31,40202,Algorithms and Data Structure,2.0,computer applications,3,True,40201.0,NaN,NaN,NaN,NaN,4.0
32,40206,Digital Control Systems NC,2.0,General Engineering,3,False,40205.0,NaN,NaN,NaN,NaN,NaN
33,40207,Electrical Motors,2.0,Fundamental Engineering,3,False,40108.0,40203.0,NaN,NaN,NaN,NaN
34,40208,Sensors and Measurement Instruments,2.0,Fundamental Engineering,3,False,40203.0,NaN,NaN,NaN,NaN,NaN
35,40110,Technical Writing,2.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
36,40218,Power Electronics,3.0,Fundamental Engineering,3,False,40207.0,NaN,NaN,NaN,NaN,NaN
37,40131,Pneumatic and hydraulic systems,3.0,General Engineering,3,False,40108.0,40109.0,40112.0,NaN,NaN,NaN
38,40134,Industrial Automation,3.0,General Engineering,3,False,40118.0,40109.0,40112.0,40208.0,40206.0,NaN
39,40209,Adapters and Relays,3.0,General Engineering,3,False,40205.0,NaN,NaN,NaN,NaN,NaN
40,40130,Simulation,3.0,computer applications,3,False,40108.0,40109.0,40112.0,40508.0,40201.0,NaN
41,40121,Mechatronics Systems 1,3.0,General Engineering,2,False,40118.0,40208.0,40209.0,NaN,NaN,NaN
42,0,Humans Rights,3.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
43,40129,Advanced Manufacturing Systems,3.0,General Engineering,2,False,40118.0,40117.0,NaN,NaN,NaN,NaN
44,40216,Computer Vision,4.0,General Engineering,3,True,40507.0,NaN,NaN,NaN,NaN,NaN
45,40145,Industrial Engineering,4.0,General Engineering,3,False,40129.0,NaN,NaN,NaN,NaN,NaN
46,40217,Artificial Inteligence,4.0,General Engineering,3,False,40507.0,40201.0,NaN,NaN,NaN,NaN
47,40135,Mechatronics Systems 2,4.0,General Engineering,2,False,40112.0,40109.0,40134.0,40118.0,40208.0,NaN
48,40136,Project Management,4.0,General Engineering,2,True,40506.0,NaN,NaN,NaN,NaN,2.3
49,40146,Quality Management,4.0,General Engineering,2,False,NaN,NaN,NaN,NaN,NaN,NaN
50,40147,Engineering Economy,4.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
51,40001,Computer and its applications,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,3.7
52,50001,Feasibility study,NaN,Elective course,2,False,NaN,NaN,NaN,NaN,NaN,NaN
53,40145,Communication and presentation skills,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,4.0
54,40147,Environmental Study,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
#Now the courses'codes are string
df.code=df.code.astype(dtype=str,copy=False,errors='ignore')

df.code=df.code.infer_objects()
for x in range(0,len(df.code)):
    df.code[x]=df.code[x].zfill(5)

<ipython-input-188-6c30ecb977db>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.code[x]=df.code[x].zfill(5)

In [189]:
df

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
0,40102,Engineering Mechanics 1,0.0,Fundamental Engineering,3,True,NaN,NaN,NaN,NaN,NaN,4.0
1,40105,Production Technology 1,0.0,General Engineering,3,True,NaN,NaN,NaN,NaN,NaN,2.7
2,40106,Engineering Mechanics 2,0.0,Fundamental Engineering,3,True,40102.0,NaN,NaN,NaN,NaN,4.0
3,40501,Engineering Mathematics 1,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.3
4,40502,Engineering Physics 1,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
5,40503,Engineering Chemistry,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
6,40504,Engineering Mathematics 2,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,4.0
7,40505,Engineering Physics 2,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
8,40101,CAD 1,0.0,computer applications,2,True,NaN,NaN,NaN,NaN,NaN,4.0
9,40103,CAD 2,0.0,computer applications,2,True,40101.0,NaN,NaN,NaN,NaN,4.0
10,40104,Engineering History,0.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
11,40144,Technical English,0.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
12,40108,Engineering Mechanics 3,1.0,Fundamental Engineering,3,True,40106.0,40504.0,NaN,NaN,NaN,4.0
13,40109,Thermodynamics,1.0,Fundamental Engineering,3,True,40504.0,40505.0,NaN,NaN,NaN,NaN
14,40111,Stress Analysis,1.0,Fundamental Engineering,3,False,40108.0,NaN,NaN,NaN,NaN,NaN
15,40112,Fluid Mechanics,1.0,Fundamental Engineering,3,True,40502.0,40506.0,NaN,NaN,NaN,NaN
16,40113,Material,1.0,Fundamental Engineering,3,True,40502.0,NaN,NaN,NaN,NaN,4.0
17,40506,Engineering Mathematics 3,1.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,4.0
18,40507,Engineering Mathematics 4,1.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,NaN
19,40203,Electric and electronic circuits,1.0,Fundamental Engineering,3,True,40506.0,NaN,NaN,NaN,NaN,NaN
20,40201,Introduction to computer science and programming,1.0,computer applications,3,True,NaN,NaN,NaN,NaN,NaN,4.0
21,40204,Logic gates and Microprocessor,1.0,General Engineering,3,True,40203.0,40506.0,40505.0,NaN,NaN,4.0
22,40107,Computer-Aided mechanical Drawing,1.0,computer applications,2,True,40103.0,NaN,NaN,NaN,NaN,4.0
23,40508,Engineering Physics 3,1.0,Basic Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
24,40114,Computer-Aided mechanical Design 1,2.0,computer applications,3,False,40103.0,40111.0,40113.0,NaN,NaN,NaN
25,40115,Theory of Viberation,2.0,Fundamental Engineering,3,False,40108.0,40506.0,40508.0,NaN,NaN,NaN
26,40116,Theory of Machines,2.0,Fundamental Engineering,3,True,40108.0,NaN,NaN,NaN,NaN,NaN
27,40117,Production Technology 2,2.0,General Engineering,3,True,40105.0,NaN,NaN,NaN,NaN,NaN
28,40118,Mechatronics Engineering,2.0,General Engineering,3,True,40204.0,NaN,NaN,NaN,NaN,NaN
29,40119,Computer-Aided mechanical Design 2,2.0,computer applications,3,False,40114.0,NaN,NaN,NaN,NaN,NaN
30,40205,Automatic Control Systems,2.0,Fundamental Engineering,3,True,40204.0,NaN,NaN,NaN,NaN,NaN
31,40202,Algorithms and Data Structure,2.0,computer applications,3,True,40201.0,NaN,NaN,NaN,NaN,4.0
32,40206,Digital Control Systems NC,2.0,General Engineering,3,False,40205.0,NaN,NaN,NaN,NaN,NaN
33,40207,Electrical Motors,2.0,Fundamental Engineering,3,False,40108.0,40203.0,NaN,NaN,NaN,NaN
34,40208,Sensors and Measurement Instruments,2.0,Fundamental Engineering,3,False,40203.0,NaN,NaN,NaN,NaN,NaN
35,40110,Technical Writing,2.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
36,40218,Power Electronics,3.0,Fundamental Engineering,3,False,40207.0,NaN,NaN,NaN,NaN,NaN
37,40131,Pneumatic and hydraulic systems,3.0,General Engineering,3,False,40108.0,40109.0,40112.0,NaN,NaN,NaN
38,40134,Industrial Automation,3.0,General Engineering,3,False,40118.0,40109.0,40112.0,40208.0,40206.0,NaN
39,40209,Adapters and Relays,3.0,General Engineering,3,False,40205.0,NaN,NaN,NaN,NaN,NaN
40,40130,Simulation,3.0,computer applications,3,False,40108.0,40109.0,40112.0,40508.0,40201.0,NaN
41,40121,Mechatronics Systems 1,3.0,General Engineering,2,False,40118.0,40208.0,40209.0,NaN,NaN,NaN
42,00000,Humans Rights,3.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
43,40129,Advanced Manufacturing Systems,3.0,General Engineering,2,False,40118.0,40117.0,NaN,NaN,NaN,NaN
44,40216,Computer Vision,4.0,General Engineering,3,True,40507.0,NaN,NaN,NaN,NaN,NaN
45,40145,Industrial Engineering,4.0,General Engineering,3,False,40129.0,NaN,NaN,NaN,NaN,NaN
46,40217,Artificial Inteligence,4.0,General Engineering,3,False,40507.0,40201.0,NaN,NaN,NaN,NaN
47,40135,Mechatronics Systems 2,4.0,General Engineering,2,False,40112.0,40109.0,40134.0,40118.0,40208.0,NaN
48,40136,Project Management,4.0,General Engineering,2,True,40506.0,NaN,NaN,NaN,NaN,2.3
49,40146,Quality Management,4.0,General Engineering,2,False,NaN,NaN,NaN,NaN,NaN,NaN
50,40147,Engineering Economy,4.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
51,40001,Computer and its applications,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,3.7
52,50001,Feasibility study,NaN,Elective course,2,False,NaN,NaN,NaN,NaN,NaN,NaN
53,40145,Communication and presentation skills,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,4.0
54,40147,Environmental Study,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,NaN

The courses I have taken so far

In [190]:
# df.loc[df.code=='40109','if_taken']= True
# df.loc[df.code=='40116','if_taken']= True
# df.loc[df.code=='40147','if_taken']= True
# df.loc[df.code=='40117','if_taken']= True
# df.loc[df.code=='40118','if_taken']= True
# df.loc[df.code=='40216','if_taken']= True
# df.loc[df.code=='40205','if_taken']= True

GPA for each course

In [191]:
# df.loc[df.code =='40102' ,'GPA'] = 3.7
# df.loc[df.code =='40105' ,'GPA'] = 3.3
# df.loc[df.code =='40106' ,'GPA'] = 
# df.loc[df.code =='40501' ,'GPA'] = 
# df.loc[df.code =='40502' ,'GPA'] = 
# df.loc[df.code =='40503' ,'GPA'] = 
# df.loc[df.code =='40504' ,'GPA'] = 
# df.loc[df.code =='40505' ,'GPA'] =

In [192]:
df.to_csv('last updated data.csv',index=0)

The Courses I have taken

In [193]:
df_not_taken=df[df.if_taken==False]
df_taken=df[df.if_taken==True]
df_taken

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
0,40102,Engineering Mechanics 1,0.0,Fundamental Engineering,3,True,NaN,NaN,NaN,NaN,NaN,4.0
1,40105,Production Technology 1,0.0,General Engineering,3,True,NaN,NaN,NaN,NaN,NaN,2.7
2,40106,Engineering Mechanics 2,0.0,Fundamental Engineering,3,True,40102.0,NaN,NaN,NaN,NaN,4.0
3,40501,Engineering Mathematics 1,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.3
4,40502,Engineering Physics 1,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
5,40503,Engineering Chemistry,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
6,40504,Engineering Mathematics 2,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,4.0
7,40505,Engineering Physics 2,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
8,40101,CAD 1,0.0,computer applications,2,True,NaN,NaN,NaN,NaN,NaN,4.0
9,40103,CAD 2,0.0,computer applications,2,True,40101.0,NaN,NaN,NaN,NaN,4.0
10,40104,Engineering History,0.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
11,40144,Technical English,0.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
12,40108,Engineering Mechanics 3,1.0,Fundamental Engineering,3,True,40106.0,40504.0,NaN,NaN,NaN,4.0
13,40109,Thermodynamics,1.0,Fundamental Engineering,3,True,40504.0,40505.0,NaN,NaN,NaN,NaN
15,40112,Fluid Mechanics,1.0,Fundamental Engineering,3,True,40502.0,40506.0,NaN,NaN,NaN,NaN
16,40113,Material,1.0,Fundamental Engineering,3,True,40502.0,NaN,NaN,NaN,NaN,4.0
17,40506,Engineering Mathematics 3,1.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,4.0
18,40507,Engineering Mathematics 4,1.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,NaN
19,40203,Electric and electronic circuits,1.0,Fundamental Engineering,3,True,40506.0,NaN,NaN,NaN,NaN,NaN
20,40201,Introduction to computer science and programming,1.0,computer applications,3,True,NaN,NaN,NaN,NaN,NaN,4.0
21,40204,Logic gates and Microprocessor,1.0,General Engineering,3,True,40203.0,40506.0,40505.0,NaN,NaN,4.0
22,40107,Computer-Aided mechanical Drawing,1.0,computer applications,2,True,40103.0,NaN,NaN,NaN,NaN,4.0
23,40508,Engineering Physics 3,1.0,Basic Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
26,40116,Theory of Machines,2.0,Fundamental Engineering,3,True,40108.0,NaN,NaN,NaN,NaN,NaN
27,40117,Production Technology 2,2.0,General Engineering,3,True,40105.0,NaN,NaN,NaN,NaN,NaN
28,40118,Mechatronics Engineering,2.0,General Engineering,3,True,40204.0,NaN,NaN,NaN,NaN,NaN
30,40205,Automatic Control Systems,2.0,Fundamental Engineering,3,True,40204.0,NaN,NaN,NaN,NaN,NaN
31,40202,Algorithms and Data Structure,2.0,computer applications,3,True,40201.0,NaN,NaN,NaN,NaN,4.0
35,40110,Technical Writing,2.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
42,00000,Humans Rights,3.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
44,40216,Computer Vision,4.0,General Engineering,3,True,40507.0,NaN,NaN,NaN,NaN,NaN
48,40136,Project Management,4.0,General Engineering,2,True,40506.0,NaN,NaN,NaN,NaN,2.3
50,40147,Engineering Economy,4.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
51,40001,Computer and its applications,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,3.7
53,40145,Communication and presentation skills,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,4.0
54,40147,Environmental Study,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
df_taken.hours.sum()

95

The courses I have not taken

In [195]:
df_not_taken

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
14,40111,Stress Analysis,1.0,Fundamental Engineering,3,False,40108.0,NaN,NaN,NaN,NaN,NaN
24,40114,Computer-Aided mechanical Design 1,2.0,computer applications,3,False,40103.0,40111.0,40113.0,NaN,NaN,NaN
25,40115,Theory of Viberation,2.0,Fundamental Engineering,3,False,40108.0,40506.0,40508.0,NaN,NaN,NaN
29,40119,Computer-Aided mechanical Design 2,2.0,computer applications,3,False,40114.0,NaN,NaN,NaN,NaN,NaN
32,40206,Digital Control Systems NC,2.0,General Engineering,3,False,40205.0,NaN,NaN,NaN,NaN,NaN
33,40207,Electrical Motors,2.0,Fundamental Engineering,3,False,40108.0,40203.0,NaN,NaN,NaN,NaN
34,40208,Sensors and Measurement Instruments,2.0,Fundamental Engineering,3,False,40203.0,NaN,NaN,NaN,NaN,NaN
36,40218,Power Electronics,3.0,Fundamental Engineering,3,False,40207.0,NaN,NaN,NaN,NaN,NaN
37,40131,Pneumatic and hydraulic systems,3.0,General Engineering,3,False,40108.0,40109.0,40112.0,NaN,NaN,NaN
38,40134,Industrial Automation,3.0,General Engineering,3,False,40118.0,40109.0,40112.0,40208.0,40206.0,NaN
39,40209,Adapters and Relays,3.0,General Engineering,3,False,40205.0,NaN,NaN,NaN,NaN,NaN
40,40130,Simulation,3.0,computer applications,3,False,40108.0,40109.0,40112.0,40508.0,40201.0,NaN
41,40121,Mechatronics Systems 1,3.0,General Engineering,2,False,40118.0,40208.0,40209.0,NaN,NaN,NaN
43,40129,Advanced Manufacturing Systems,3.0,General Engineering,2,False,40118.0,40117.0,NaN,NaN,NaN,NaN
45,40145,Industrial Engineering,4.0,General Engineering,3,False,40129.0,NaN,NaN,NaN,NaN,NaN
46,40217,Artificial Inteligence,4.0,General Engineering,3,False,40507.0,40201.0,NaN,NaN,NaN,NaN
47,40135,Mechatronics Systems 2,4.0,General Engineering,2,False,40112.0,40109.0,40134.0,40118.0,40208.0,NaN
49,40146,Quality Management,4.0,General Engineering,2,False,NaN,NaN,NaN,NaN,NaN,NaN
52,50001,Feasibility study,NaN,Elective course,2,False,NaN,NaN,NaN,NaN,NaN,NaN

The total Number of hours taken for fundamental Engineering courses EF (required = 42)

In [196]:
FE_hours=df_taken.groupby('type')['hours'].sum()['Fundamental Engineering']
FE_hours

27

Remaining hours for Fundamental Engineering

In [197]:
42-FE_hours

15

Remaining courses for FE

In [198]:
df_not_taken[df_not_taken.type=='Fundamental Engineering']

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
14,40111,Stress Analysis,1.0,Fundamental Engineering,3,False,40108.0,NaN,NaN,NaN,NaN,NaN
25,40115,Theory of Viberation,2.0,Fundamental Engineering,3,False,40108.0,40506.0,40508.0,NaN,NaN,NaN
33,40207,Electrical Motors,2.0,Fundamental Engineering,3,False,40108.0,40203.0,NaN,NaN,NaN,NaN
34,40208,Sensors and Measurement Instruments,2.0,Fundamental Engineering,3,False,40203.0,NaN,NaN,NaN,NaN,NaN
36,40218,Power Electronics,3.0,Fundamental Engineering,3,False,40207.0,NaN,NaN,NaN,NaN,NaN

The total Number of hours taken for Basic science courses  (required = 23)

In [199]:
BS_hours=df_taken.groupby('type')['hours'].sum()['Basic Science']
BS_hours

23

Remaining hours for Basic Engineering

In [200]:
23-BS_hours

0

Remaining courses for BS

In [201]:
df_not_taken[df_not_taken.type=='Basic Science']

Empty DataFrame
Columns: [code, course, level, type, hours, if_taken, prerequisite_1, prerequisite_2, prerequisite_3, prerequisite_4, prerequisite_5, GPA]
Index: []

The total Number of hours taken for General Engineering courses  (required = 47)

In [202]:
GE_hours=df_taken.groupby('type')['hours'].sum()['General Engineering']
GE_hours

17

Remaining hours for General Engineering

In [203]:
47-GE_hours

30

Remaining courses for GE

In [204]:
df_not_taken[df_not_taken.type=='General Engineering']

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
32,40206,Digital Control Systems NC,2.0,General Engineering,3,False,40205.0,NaN,NaN,NaN,NaN,NaN
37,40131,Pneumatic and hydraulic systems,3.0,General Engineering,3,False,40108.0,40109.0,40112.0,NaN,NaN,NaN
38,40134,Industrial Automation,3.0,General Engineering,3,False,40118.0,40109.0,40112.0,40208.0,40206.0,NaN
39,40209,Adapters and Relays,3.0,General Engineering,3,False,40205.0,NaN,NaN,NaN,NaN,NaN
41,40121,Mechatronics Systems 1,3.0,General Engineering,2,False,40118.0,40208.0,40209.0,NaN,NaN,NaN
43,40129,Advanced Manufacturing Systems,3.0,General Engineering,2,False,40118.0,40117.0,NaN,NaN,NaN,NaN
45,40145,Industrial Engineering,4.0,General Engineering,3,False,40129.0,NaN,NaN,NaN,NaN,NaN
46,40217,Artificial Inteligence,4.0,General Engineering,3,False,40507.0,40201.0,NaN,NaN,NaN,NaN
47,40135,Mechatronics Systems 2,4.0,General Engineering,2,False,40112.0,40109.0,40134.0,40118.0,40208.0,NaN
49,40146,Quality Management,4.0,General Engineering,2,False,NaN,NaN,NaN,NaN,NaN,NaN

The total Number of hours taken for computer applications courses  (required = 21)

In [205]:
CS_hours=df_taken.groupby('type')['hours'].sum()['computer applications']
CS_hours

12

Remaining hours for computer applications

In [206]:
21-CS_hours

9

Remaining courses for CS

In [207]:
df_not_taken[df_not_taken.type=='computer applications']

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
24,40114,Computer-Aided mechanical Design 1,2.0,computer applications,3,False,40103.0,40111.0,40113.0,NaN,NaN,NaN
29,40119,Computer-Aided mechanical Design 2,2.0,computer applications,3,False,40114.0,NaN,NaN,NaN,NaN,NaN
40,40130,Simulation,3.0,computer applications,3,False,40108.0,40109.0,40112.0,40508.0,40201.0,NaN

The total Number of hours taken for Elective course  (required = 8)

In [208]:
EC_hours=df_taken.groupby('type')['hours'].sum()['Elective course']
EC_hours

6

Remaining hours for Elective course

In [209]:
8-EC_hours

2

Remaining courses for EC

In [210]:
df_not_taken[df_not_taken.type=='Elective course']

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
52,50001,Feasibility study,NaN,Elective course,2,False,NaN,NaN,NaN,NaN,NaN,NaN

The total Number of hours taken for Social Science courses  (required = 18)

In [211]:
SS_hours=df_taken.groupby('type')['hours'].sum()['Social Science']
SS_hours

10

Remaining hours for Social Science

In [212]:
18-SS_hours

8

Remaining courses for SS

In [213]:
df_not_taken[df_not_taken.type=='Social Science']

Empty DataFrame
Columns: [code, course, level, type, hours, if_taken, prerequisite_1, prerequisite_2, prerequisite_3, prerequisite_4, prerequisite_5, GPA]
Index: []

# GPA Clculation

Gathering the courses with final exams(GPA) in a file named (GPA) and displaying them

In [214]:
GPA = df[df.GPA >0]

In [215]:
GPA

,code,course,level,type,hours,if_taken,prerequisite_1,prerequisite_2,prerequisite_3,prerequisite_4,prerequisite_5,GPA
0,40102,Engineering Mechanics 1,0.0,Fundamental Engineering,3,True,NaN,NaN,NaN,NaN,NaN,4.0
1,40105,Production Technology 1,0.0,General Engineering,3,True,NaN,NaN,NaN,NaN,NaN,2.7
2,40106,Engineering Mechanics 2,0.0,Fundamental Engineering,3,True,40102.0,NaN,NaN,NaN,NaN,4.0
3,40501,Engineering Mathematics 1,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.3
4,40502,Engineering Physics 1,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
5,40503,Engineering Chemistry,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
6,40504,Engineering Mathematics 2,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,4.0
7,40505,Engineering Physics 2,0.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,3.7
8,40101,CAD 1,0.0,computer applications,2,True,NaN,NaN,NaN,NaN,NaN,4.0
9,40103,CAD 2,0.0,computer applications,2,True,40101.0,NaN,NaN,NaN,NaN,4.0
10,40104,Engineering History,0.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
11,40144,Technical English,0.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
12,40108,Engineering Mechanics 3,1.0,Fundamental Engineering,3,True,40106.0,40504.0,NaN,NaN,NaN,4.0
16,40113,Material,1.0,Fundamental Engineering,3,True,40502.0,NaN,NaN,NaN,NaN,4.0
17,40506,Engineering Mathematics 3,1.0,Basic Science,3,True,NaN,NaN,NaN,NaN,NaN,4.0
20,40201,Introduction to computer science and programming,1.0,computer applications,3,True,NaN,NaN,NaN,NaN,NaN,4.0
21,40204,Logic gates and Microprocessor,1.0,General Engineering,3,True,40203.0,40506.0,40505.0,NaN,NaN,4.0
22,40107,Computer-Aided mechanical Drawing,1.0,computer applications,2,True,40103.0,NaN,NaN,NaN,NaN,4.0
23,40508,Engineering Physics 3,1.0,Basic Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
31,40202,Algorithms and Data Structure,2.0,computer applications,3,True,40201.0,NaN,NaN,NaN,NaN,4.0
35,40110,Technical Writing,2.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
42,00000,Humans Rights,3.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
48,40136,Project Management,4.0,General Engineering,2,True,40506.0,NaN,NaN,NaN,NaN,2.3
50,40147,Engineering Economy,4.0,Social Science,2,True,NaN,NaN,NaN,NaN,NaN,4.0
51,40001,Computer and its applications,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,3.7
53,40145,Communication and presentation skills,NaN,Elective course,2,True,NaN,NaN,NaN,NaN,NaN,4.0

In [216]:
GPA.hours.sum()

66

In [217]:
sum_hours=GPA.hours.sum()
GPA['GPA x hours']=GPA['hours']*GPA['GPA']
GPA['GPA x hours'].sum()/sum_hours

<ipython-input-217-145537370f43>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GPA['GPA x hours']=GPA['hours']*GPA['GPA']

3.8075757575757576